{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  icon_align == 'top' or icon_align == 'bottom' ? 'grid-y':'grid-x',
  icon_align == 'left' or icon_align == 'right' ? 'align-middle':'text-center'
] %}
{% block paragraph %}
  {% if not link_exclude_text and link_url %}
    <a href="{{ link_url }}" class="icon-link">
  {% endif %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div
        class="icon shrink cell {{ icon_align == 'top' or icon_align == 'left' ? 'small-order-1':'small-order-2' }}">
        {% if link_exclude_text and link_url %}
        <a href="{{ link_url }}" class="icon-link">
          {% endif %}
          {% if icon_type == 'font_awesome' %}
            {{ content.field_font_awesome }}
          {% elseif icon_type == 'image' %}
            {{ content.field_image }}
          {% endif %}
          {% if link_exclude_text and link_url %}
        </a>
        {% endif %}
      </div>
      {% if content.field_textarea|field_value %}
        <div
          class="content shrink cell {{ icon_align == 'bottom' or icon_align == 'right' ? 'small-order-1':'small-order-2' }}">
          {{ content.field_textarea }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
  {% if not link_exclude_text and link_url %}
    </a>
  {% endif %}
{% endblock paragraph %}
