{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'clear-both'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% set locations = content.field_location|field_value %}
      {% set location = locations[0] %}
      <address class="address plain h-card hcard vcard" translate="no">
        <div class="address-item hide p-name fn" style="display: none;">
          {{ location.organization }} {{ location.given_name }} {{ location.family_name }}
        </div>

        {% if location.organization %}
          <span
            class="address-item p-org org"
            data-label="{{ 'Company'|t }}">
            {{ location.organization }}
          </span>
        {% endif %}

        {% if location.given_name and location.family_name %}
          <span class="n">
            {% if location.given_name %}
              <span
                class="address-item p-given-name given-name"
                data-label="{{ 'First name'|t }}">
                {{ location.given_name }}
              </span>
            {% endif %}
            {% if location.family_name %}
              <span
                class="address-item p-family-name family-name"
                data-label="{{ 'Last name'|t }}">
                {{ location.family_name }}
              </span>
            {% endif %}
          </span>
        {% endif %}

        <span class="p-adr h-adr adr">
          {% if location.country.name %}
            <span
              class="address-item p-country-name country-name"
              data-label="{{ 'Country'|t }}">
              {{ location.country.name }}
            </span>
          {% endif %}

          {% if location.locality %}
            <span
              class="address-item p-locality locality"
              data-label="{{ 'City'|t }}">
              {{ location.locality.code ? location.locality.code : location.locality }}
            </span>
          {% endif %}

          {% if location.dependent_locality.code %}
            <span
              class="address-item p-locality locality"
              data-label="{{ 'Dependent locality'|t }}">
              {{ location.dependent_locality.code }}
            </span>
          {% endif %}

          {% if location.administrative_area %}
            <span
              class="address-item p-region region"
              data-label="{{ 'State or Province'|t }}">
              {{ location.administrative_area }}
            </span>
          {% endif %}

          {% if location.postal_code %}
            <span
              class="address-item p-postal-code postal-code"
              data-label="{{ 'Postal zip'|t }}">
              {{ location.postal_code }}
          </span>
          {% endif %}

          {% if location.address_line1 %}
            <span
              class="address-item p-street-address street-address"
              data-label="{{ 'Street'|t }}">
              {{ location.address_line1 }}
            </span>
          {% endif %}

          {% if location.address_line2|field_value %}
            <span
              class="address-item p-extended-address extended-address"
              data-label="{{ 'Street'|t }}">
              {{ location.address_line2 }}
            </span>
          {% endif %}
        </span>

        {% set phone = content.field_phone|field_value %}
        {% if phone %}
          {% for value in phone %}
            <span
              class="address-item p-tel tel"
              data-label="{{ 'Phone'|t }}">
              <span class="type hide">{{ 'Phone'|t }}</span>
              {{ value }}
            </span>
          {% endfor %}
        {% endif %}

        {% set fax = content.field_fax|field_value %}
        {% if fax %}
          {% for value in fax %}
            <span
              class="address-item p-tel tel"
              data-label="{{ 'Fax'|t }}">
              <span class="type hide">{{ 'Fax'|t }}</span>
              {{ value }}
            </span>
          {% endfor %}
        {% endif %}

        {% set e_mail = content.field_e_mail|field_value %}
        {% if e_mail %}
          {% for value in e_mail %}
            <a
              href="mailto:{{ value }}"
              class="address-item u-email email"
              data-label="{{ 'E-Mail'|t }}">
              {{ value }}
            </a>
          {% endfor %}
        {% endif %}
      </address>
    {% endblock %}
  </div>
{% endblock paragraph %}
