{#
/**
 * @file
 * Default theme implementation for a views mini-pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 *
 * @ingroup themeable
 */
#}
{% if items.previous or items.next %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul
      class="pager__items js-pager__items pagination text-center"
      role="navigation" aria-label="Pagination">
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a
            href="{{ items.previous.href }}"
            title="{{ 'Go to previous page'|t }}"
            rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">
              {{ items.previous.text|default('‹ Previous'|t) }}
            </span>
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li class="pager__item{{ current == key ? ' is-active current' : '' }}">
          {% trans %}
            Page {{ items.current }}
          {% endtrans %}
        </li>
      {% endif %}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a
            href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}"
            rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">
              {{ items.next.text|default('Next ›'|t) }}
            </span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
