<aside id="page-info" class="grid-container">
  <div class="grid-x grid-padding-x">
    {% if page.help %}
      <div class="small-12 cell">
        {{ page.help }}
      </div>
    {% endif %}
    {% if page.highlighted %}
      <div class="small-12 cell">
        {{ page.highlighted }}
      </div>
    {% endif %}
    <div id="ajax-message" class="small-12 cell"></div>
  </div>
</aside>
