<div
  id="page-content" {{ attributes }}
  role="main">
  <main{{ main_content_attributes }}>
    <a id="main-content" tabindex="-1"></a>
    {# link is in html.html.twig #}
    {{ page.content }}
  </main>
</div>
