{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav
    aria-label="{{ 'You are here'|t }}:"
    role="navigation" aria-labelledby="system-breadcrumb">
    <h2
      id="system-breadcrumb"
      class="visually-hidden">{{ 'You are here'|t }}</h2>
    <ul class="breadcrumbs">
      {% for item in breadcrumb %}
        <li
          data-tooltip tabindex="1"
          title="{{ 'Back to @name page.'|t({'@name': item.text|render }) }}">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
      {% if current_page_title %}
        <li
          class="current" data-tooltip
          tabindex="1" title="{{ 'You are here'|t }}">
          {{ current_page_title }}
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}