{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul
    class="tabs primary"
    data-tooltip
    tabindex="1"
    title="{{ 'Primary tabs'|t }}">
    {{ primary }}
  </ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul
    class="tabs secondary"
    data-tooltip
    tabindex="1"
    title="{{ 'Secondary tabs'|t }}">
    {{ secondary }}
  </ul>
{% endif %}
