{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the primary/agree button. Note that this is the
 *   primary button. For backwards compatibility, the name remains agree_button.
 * - disagree_button: Contains Cookie policy button title. (Note: for historical
 *   reasons, this label is called "disagree" even though it just displays the
 *   privacy policy.)
 * - secondary_button_label: Contains the secondary button label. The current
 *   action depends on whether you're running the module in Opt-out or Opt-in
 *   mode.
 * - primary_button_class: Contains class names for the primary button.
 * - secondary_button_class: Contains class names for the secondary button
 *   (if visible).
 */
#}

<div class="eu-cookie-compliance-banner primary-bg">
  <div class="grid-container">
    <div
      class="popup-content info grid-x grid-margin-x align-center-middle">
      <div id="popup-text" class="text-left small-12 medium-6 cell">
        {{ message }}
      </div>
      <div class="small-12 medium-6 cell">
        <div id="popup-buttons" class="button-group">
          <button
            type="button"
            class="button hollow {{ primary_button_class }}">
            {{ agree_button }}
          </button>
          {% if disagree_button %}
            <button
              type="button"
              class="button hollow find-more-button more-button">
              {{ disagree_button }}
            </button>
          {% endif %}
          {% if secondary_button_label %}
            <button
              type="button"
              class="button default-button {{ secondary_button_class }}">
              {{ secondary_button_label }}
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
