{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @see template_preprocess_status_messages()
 *
 * @ingroup themeable
 */
#}
{% for type, messages in message_list %}
  <div
    class="status-message" role="contentinfo"
    aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
    {% if status_headings[type] %}
      <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
    {% endif %}
    {% if type == 'status' %}
      {% set status_class = 'success' %}
      {% set status_icon = 'fa-check-circle' %}
    {% elseif type == 'warning' %}
      {% set status_class = 'warning' %}
      {% set status_icon = 'fa-exclamation-circle' %}
    {% elseif type == 'error' %}
      {% set status_class = 'alert' %}
      {% set status_icon = 'fa-bug' %}
    {% else %}
      {% set status_class = 'secondary' %}
      {% set status_icon = 'fa-info-circle' %}
    {% endif %}
    <div
      data-alert
      class="callout fade-out mui-leave {{ status_class }}"
      data-closable="fade-out">
      <div class="grid-x grid-margin-x align-middle">
        <div class="shrink cell">
          <i class="status-icon fas {{ status_icon }} fa-3x"></i>
        </div>
        <div class="auto cell">
          {% if messages|length > 1 %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ messages|first }}
          {% endif %}
        </div>
      </div>
      <button
        class="close-button" aria-label="{{ 'Dismiss alert'|t }}"
        type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
{% endfor %}
