/**
 * Super Login
 */
/*noinspection SpellCheckingInspection*/
#capslockdiv p {
  display : none;
}

/**
 * Paragraph
 */
.paragraph--type--image img {
  width : 100%;
}

/* Forms */
.form-required::after {
  display     : inline-block;
  content     : '*';
  margin-left : 4px;
  color       : red;
}

/* Off Canvas */
#page.off-canvas-wrapper {
  overflow : visible;
}
