{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@cobase/layout/partials/page-header.html.twig' %}

{% include '@cobase/layout/partials/page-info.html.twig' %}

{% set content_classes = ['grid-x', 'grid-padding-x', 'align-center-middle'] %}
<div class="grid-container">
  <div
    id="page-content" {{ attributes.addClass(content_classes) }}
    role="main">
    <main{{ main_content_attributes.addClass('small-12', 'large-8', 'cell') }}>
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="page-error">
        <div class="page-error__content text-center">
          <h1>403</h1>
          <h2>{{ 'You are not authorized to access this page.'|t }}</h2>
          {% if page.search %}
            <div class="page-error__content__search">
              {{ page.search }}
            </div>
          {% endif %}
          <a
            href="{{ url('<front>') }}"
            class="page-error__content__home-link">
            {{ 'Back to home'|t }}
          </a>
        </div>
      </div>
    </main>
  </div>
</div>

{% include '@cobase/layout/partials/page-footer.html.twig' %}
